{% extends "products/base.html" %}

{% load static %}


{% block css %}
    <link href="{% static "vendor/css/index.css" %}" rel="stylesheet">
{% endblock css %}


{% block content %}
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Информационное сообщение-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">TeploStore</h1>
                    <p>
                        Отопительное оборудование в Казани. 	Торговля и монтаж оборудования для систем отопления и водоснабжения
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url "products" %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


